#projectContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projects {
  border: solid black 2px;
  float: left;
  margin: 10px;
}

.projectImg {
  width: 400px;
  height: 400px;
}
